# **WEBSCRAPING FROM FINVIZ**

When I started this repo, my main goal was to get the financial information of the companies through Finviz.com. At this point, I used the formulas on the https://finvizfinance.readthedocs.io/ website. 

> *As the first step, we install finvizfinance.

In [ ]:
!pip install finvizfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: finvizfinance in /usr/local/lib/python3.8/dist-packages (0.14.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from finvizfinance) (1.3.5)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from finvizfinance) (2.25.1)
Requirement already satisfied: lxml in /usr/local/lib/python3.8/dist-packages (from finvizfinance) (4.9.2)
Requirement already satisfied: bs4 in /usr/local/lib/python3.8/dist-packages (from finvizfinance) (0.0.1)
Requirement already satisfied: datetime in /usr/local/lib/python3.8/dist-packages (from finvizfinance) (5.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.8/dist-packages (from bs4->finvizfinance) (4.6.3)
Requirement already satisfied: zope.interface in /usr/local/lib/python3.8/dist-packages (from datetime->finvizfinance) (5.5.2)
Requirement already satisfied: pytz in /usr/local/lib/python3.8/dist-packages (from datetime->finvizfinance) (2022.7)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->finvizfinance) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas->finvizfinance) (1.21.6)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->finvizfinance) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->finvizfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->finvizfinance) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->finvizfinance) (2.10)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas->finvizfinance) (1.15.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from zope.interface->datetime->finvizfinance) (57.4.0)

In this study, we will capture the financial data of the Amazon company. We will continue using 'AMZN' as Amazon's NASDAQ ticker. At the same time, we call the required libraries. These are finvizfinance and Statements via finvizfinance.quote. We also use the pandas library as usual.

In [ ]:
import pandas as pd 
from finvizfinance.quote import finvizfinance 
from finvizfinance.quote import Statements as st 
stock = finvizfinance('AMZN')

I will show below some functions that can be used after performing this step. Basically, we will continue to work with the ticker_fundament() function. However, for those who are curious, we also include some other functions below. These offer additional information about the stock.
*   ticker_description()
*   ticker_outer_ratings()
*   ticker_news()
*   ticker_inside_trader()

For more functions and information about them, you can check the https://finvizfinance.readthedocs.io/ website.

In [ ]:
stock_description = stock.ticker_description() 
outer_ratings_df = stock.ticker_outer_ratings() 
news_df = stock.ticker_news() 
inside_trader_df = stock.ticker_inside_trader()

In [ ]:
stock_description

'Amazon.com, Inc. engages in the retail sale of consumer products and subscriptions in North America and internationally. The company operates through three segments: North America, International, and Amazon Web Services (AWS). It sells merchandise and content purchased for resale from third-party sellers through physical and online stores. The company also manufactures and sells electronic devices, including Kindle, Fire tablets, Fire TVs, Rings, and Echo and other devices; provides Kindle Direct Publishing, an online service that allows independent authors and publishers to make their books available in the Kindle Store; and develops and produces media content. In addition, it offers programs that enable sellers to sell their products on its websites, as well as its stores; and programs that allow authors, musicians, filmmakers, Twitch streamers, skill and app developers, and others to publish and sell content. Further, the company provides compute, storage, database, analytics, machine learning, and other services, as well as fulfillment, advertising, publishing, and digital content subscriptions. Additionally, it offers Amazon Prime, a membership program, which provides free shipping of various items; access to streaming of movies and series; and other services. The company serves consumers, sellers, developers, enterprises, and content creators. Amazon.com, Inc. was incorporated in 1994 and is headquartered in Seattle, Washington.'

In [ ]:
outer_ratings_df

         Date      Status                   Outer          Rating        Price
0  2023-01-04   Initiated              New Street             Buy         $130
1  2022-11-15   Initiated        MoffettNathanson      Outperform         $118
2  2022-10-28  Reiterated          Wolfe Research      Outperform  $150 → $130
3  2022-10-28  Reiterated             Wells Fargo      Overweight  $200 → $155
4  2022-10-28  Reiterated                 Wedbush      Outperform  $175 → $140
5  2022-10-28  Reiterated                  Truist             Buy  $170 → $160
6  2022-10-28  Reiterated   The Benchmark Company             Buy  $160 → $125
7  2022-10-28  Reiterated   Telsey Advisory Group      Outperform  $150 → $140
8  2022-10-28  Reiterated         Robert W. Baird      Outperform  $150 → $130
9  2022-10-28  Reiterated        RBC Capital Mkts      Outperform  $175 → $135
10 2022-10-28  Reiterated           Raymond James      Outperform  $164 → $130
11 2022-10-28  Reiterated             Oppenheimer      Outperform  $165 → $130
12 2022-10-28  Reiterated                 Needham             Buy  $175 → $120
13 2022-10-28  Reiterated          Morgan Stanley      Overweight  $175 → $140
14 2022-10-28  Reiterated  Monness Crespi & Hardt             Buy  $172 → $136
15 2022-10-28  Reiterated                  Mizuho             Buy  $155 → $135
16 2022-10-28  Reiterated               JP Morgan      Overweight  $175 → $145
17 2022-10-28  Reiterated          JMP Securities  Mkt Outperform  $150 → $140
18 2022-10-28  Reiterated               Jefferies             Buy  $165 → $135
19 2022-10-28  Reiterated           Deutsche Bank             Buy  $150 → $130

In [ ]:
news_df

,Date,Title,Link
0,2023-01-14 08:10:00,"Amazon: We still like the stock, analyst says ...",https://finance.yahoo.com/news/amazon-we-still...
1,2023-01-14 07:45:00,Teladoc Health: Bull vs. Bear,https://finance.yahoo.com/m/4b0f930c-96f4-3096...
2,2023-01-14 07:30:00,2 FAANG Stocks the Smartest Investors Are Buyi...,https://finance.yahoo.com/m/78038fb8-7a68-33b1...
3,2023-01-14 07:00:00,5 Situations Where People Spend Way Too Much,https://finance.yahoo.com/m/c1e9ab8a-4015-3478...
4,2023-01-14 05:55:00,Why Amazon and Alphabet Are Still 2 of My High...,https://finance.yahoo.com/m/8666b60c-8c71-33cf...
...,...,...,...
95,2023-01-10 07:57:00,Multiple Headwinds Dragged Amazon.com (AMZN) i...,https://finance.yahoo.com/news/multiple-headwi...
96,2023-01-10 06:22:00,Amazon to shut three British warehouses and cu...,https://finance.yahoo.com/news/amazon-shut-thr...
97,2023-01-10 06:08:00,7 Warren Buffett Stocks I Bought for My Own Po...,https://finance.yahoo.com/m/31df2c11-6134-306b...
98,2023-01-10 05:40:00,My Top Web3 Stock to Buy and Hold in 2023,https://finance.yahoo.com/m/d649ed66-9a1a-3540...
99,2023-01-10 05:30:00,White-Collar Recession: Why Job Cuts Are Hitti...,https://finance.yahoo.com/video/white-collar-r...

In [ ]:
inside_trader_df

,Insider Trading,Relationship,Date,Transaction,Cost,#Shares,Value ($),#Shares Total,SEC Form 4,SEC Form 4 Link,Insider_id
0,AMAZON COM INC,10% Owner,Dec 16,Sale,26.99,260000.0,7017400.0,13918445.0,Dec 20 04:36 PM,http://www.sec.gov/Archives/edgar/data/894081/...,1018724
1,Reynolds Shelley,Vice President,Nov 21,Option Exercise,0.00,3500.0,0.0,123280.0,Nov 23 04:22 PM,http://www.sec.gov/Archives/edgar/data/1018724...,1397333
2,Zapolsky David,Senior Vice President,Nov 21,Option Exercise,0.00,16740.0,0.0,85360.0,Nov 23 04:28 PM,http://www.sec.gov/Archives/edgar/data/1018724...,1557979
3,Olsavsky Brian T,Senior Vice President and CFO,Nov 21,Option Exercise,0.00,16740.0,0.0,64240.0,Nov 23 04:35 PM,http://www.sec.gov/Archives/edgar/data/1018724...,1639902
4,Herrington Douglas J,CEO Worldwide Amazon Stores,Nov 21,Sale,94.00,7456.0,700864.0,533435.0,Nov 23 04:49 PM,http://www.sec.gov/Archives/edgar/data/1018724...,1936006
...,...,...,...,...,...,...,...,...,...,...,...
72,Zapolsky David,Senior Vice President,Feb 15,Sale,3150.92,1060.0,3339975.0,3361.0,Feb 17 05:15 PM,http://www.sec.gov/Archives/edgar/data/1018724...,1557979
73,Olsavsky Brian T,Senior Vice President and CFO,Feb 15,Sale,3150.92,910.0,2867337.0,2300.0,Feb 17 05:08 PM,http://www.sec.gov/Archives/edgar/data/1018724...,1639902
74,Reynolds Shelley,Vice President,Feb 15,Sale,3150.92,222.0,699504.0,5989.0,Feb 17 05:01 PM,http://www.sec.gov/Archives/edgar/data/1018724...,1397333
75,Selipsky Adam,CEO Amazon Web Services,Feb 15,Sale,3150.92,679.0,2139475.0,4557.0,Feb 17 05:45 PM,http://www.sec.gov/Archives/edgar/data/1018724...,1684974
76,Jassy Andrew R,President and CEO,Feb 15,Sale,3150.92,848.0,2671980.0,90204.0,Feb 17 05:29 PM,http://www.sec.gov/Archives/edgar/data/1018724...,1374545

The ticker_fundament() formula helps us derive key financial values and ratios specific to stocks on finviz.com. A dataframe is created using this formula below.

In [ ]:
stock_fundament = stock.ticker_fundament() 
columns_list=list(stock_fundament.keys())
fund_df=pd.DataFrame( stock_fundament.values() ).T
fund_df.columns = columns_list
fund_df
#Alternative dataset: pd.DataFrame.from_dict(stock_fundament, orient='index', columns=['Values'])

,Company,Sector,Industry,Country,Index,P/E,EPS (ttm),Insider Own,Shs Outstand,Perf Week,...,Earnings,Payout,Avg Volume,Price,Recom,SMA20,SMA50,SMA200,Volume,Change
0,"Amazon.com, Inc.",Consumer Cyclical,Internet Retail,USA,S&P 500,90.52,1.08,9.80%,10.19B,13.99%,...,Oct 27 AMC,0.00%,83.47M,98.12,1.80,13.13%,8.36%,-15.69%,"85,287,891",2.99%

We use the **get_statements()** formula to obtain the company's *Balance Sheet, Cash Flow and Income Statement*. Here, in the formula, we will get the input that will correspond to the **statement**, and it changes the result as follows.

*   **Statement='I'** option gives us Income Statement.
*   **Statement='B'** option gives us the Balance Sheet.
*   **Statement='C'** option gives us Cash Flow.

Likewise, it is used to determine the period of the data in the **timeframe**.
**Timeframe='A'** shows that the data to be drawn is **Annually**, while **'Q'** allows us to get **Quarterly** data.

In [ ]:
IncomeStatement_df=st.get_statements(self='Statements',ticker='AMZN', statement='I', timeframe='A')
IncomeStatement_df.columns = IncomeStatement_df.iloc[0]
IncomeStatement_df = IncomeStatement_df[1:]

BalanceSheet_df=st.get_statements(self='Statements',ticker='AMZN', statement='B', timeframe='A')
BalanceSheet_df.columns = BalanceSheet_df.iloc[0]
BalanceSheet_df = BalanceSheet_df[1:]

CashFlow_df=st.get_statements(self='Statements',ticker='AMZN', statement='C', timeframe='A')
CashFlow_df.columns = CashFlow_df.iloc[0]
CashFlow_df = CashFlow_df[1:]

In [ ]:
IncomeStatement_df

Period End Date,TTM,12/31/2021,12/31/2020,12/31/2019,12/31/2018,12/31/2017,12/31/2016,12/31/2015
Period Length,12 Months,12 Months,12 Months,12 Months,12 Months,12 Months,12 Months,12 Months
Total Revenue,"502,191.00","469,822.00","386,064.00","280,522.00","232,887.00","177,866.00","135,987.00","107,006.00"
Cost of Revenue,"286,026.00","272,344.00","233,307.00","165,536.00","139,156.00","111,934.00","88,265.00","71,651.00"
Gross Profit,"216,165.00","197,478.00","152,757.00","114,986.00","93,731.00","65,932.00","47,722.00","35,355.00"
"Selling, General and Administrative","134,954.00","116,485.00","87,193.00","64,313.00","52,177.00","38,992.00","27,284.00","20,411.00"
Research and Development,"67,712.00","56,052.00","42,740.00","35,931.00","28,837.00","22,620.00","16,085.00","12,540.00"
Unusual Expense/Income,,,,,,,,
Total Operating Expense,"489,220.00","444,943.00","363,165.00","265,981.00","220,466.00","173,760.00","131,801.00","104,773.00"
Operating Income,"12,971.00","24,879.00","22,899.00","14,541.00","12,421.00","4,106.00","4,186.00","2,233.00"
Interest Income Net,"-1,680.00","10,110.00",-224.00,-557.00,-977.00,-406.00,-371.00,-680.00
Other Income Net,"-1,331.00","3,162.00","1,503.00",-8.00,-183.00,106.00,77.00,15.00
Net Income Before Taxes,"9,960.00","38,151.00","24,178.00","13,976.00","11,261.00","3,806.00","3,892.00","1,568.00"
Provision for Income Taxes,"-1,378.00","4,791.00","2,863.00","2,374.00","1,354.00","1,558.00","1,425.00",950.00
Net Income,"11,323.00","33,364.00","21,331.00","11,588.00","10,073.00","3,033.00","2,371.00",596.00
Income Avail. to Common Excl. Extraord.,"11,323.00","33,364.00","21,331.00","11,588.00","9,916.00","2,244.00","2,371.00",596.00
Income Avail. to Common Incl. Extraord.,"11,323.00","33,364.00","21,331.00","11,588.00","10,073.00","3,033.00","2,371.00",596.00
Diluted Average Shares,"10,261.50","10,300.00","10,200.00","10,080.00","10,000.00","9,860.00","9,680.00","9,540.00"
Diluted EPS Excl. Extraord.,1.08362,3.23922,2.09127,1.14960,0.99160,0.22759,0.24494,0.06247
Diluted EPS Incl. Extraord.,1.08362,3.23922,2.09127,1.14960,1.00730,0.30761,0.24494,0.06247

In [ ]:
BalanceSheet_df

Period End Date,12/31/2021,12/31/2020,12/31/2019,12/31/2018,12/31/2017,12/31/2016,12/31/2015,12/31/2014
Cash and Equivalents,"36,220.00","42,122.00","36,092.00","31,750.00","20,522.00","19,334.00","15,890.00","14,557.00"
Short Term Investments,"59,829.00","42,274.00","18,929.00","9,500.00","10,464.00","6,647.00","3,918.00","2,859.00"
Cash and Short Term Investments,"96,049.00","84,396.00","55,021.00","41,250.00","30,986.00","25,981.00","19,808.00","17,416.00"
"Accounts Receivable - Trade, Net","32,649.00","24,309.00","20,540.00","16,677.00",,,,"5,612.00"
"Total Receivables, Net","32,649.00","24,309.00","20,540.00","16,677.00","13,164.00","8,339.00","5,654.00","5,612.00"
Total Inventory,"32,640.00","23,795.00","20,497.00","17,174.00","16,047.00","11,461.00","10,243.00","8,299.00"
Total Current Assets,"161,580.00","132,733.00","96,334.00","75,101.00","60,197.00","45,781.00","35,705.00","31,327.00"
"Property, Plant And Equipment - Gross","294,882.00","211,101.00","144,821.00","95,770.00","68,573.00","42,441.00","30,053.00","22,730.00"
"Property, Plant And Equipment - Net","216,363.00","150,667.00","97,846.00","61,797.00","48,866.00","29,114.00","21,838.00","16,967.00"
"Goodwill, Net","15,371.00","15,017.00","14,754.00","14,548.00","13,350.00","3,784.00","3,759.00","3,319.00"
"Intangibles, Net","5,107.00","4,981.00","4,049.00","4,110.00","3,371.00",854.00,992.00,764.00
Long Term Investments,"20,300.00","3,200.00",679.00,518.00,415.00,242.00,,209.00
Other Long Term Assets,"1,828.00","14,597.00","11,586.00","6,574.00","5,111.00","3,627.00","2,453.00","1,919.00"
Total Assets,"420,549.00","321,195.00","225,248.00","162,648.00","131,310.00","83,402.00","64,747.00","54,505.00"
Accounts Payable,"78,664.00","72,539.00","47,183.00","38,192.00","34,616.00","25,309.00","20,397.00","16,459.00"
Accrued Expenses,"50,088.00","42,983.00","31,132.00","14,161.00","11,949.00","8,542.00","7,273.00","6,207.00"
Notes Payable/Short Term Debt,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Current Port. of LT Debt/Capital Leases,"1,687.00","1,155.00","1,307.00","9,502.00","6,221.00","5,197.00","3,099.00","3,600.00"
Other Current liabilities,"11,827.00","9,708.00","8,190.00","6,536.00","5,097.00","4,768.00","3,118.00","1,823.00"
Total Current Liabilities,"142,266.00","126,385.00","87,812.00","68,391.00","57,883.00","43,816.00","33,887.00","28,089.00"
Long Term Debt,"48,744.00","31,816.00","23,414.00","23,495.00","24,743.00","7,694.00","8,227.00","8,265.00"
Capital Lease Obligations,"21,870.00","18,060.00","17,095.00","16,292.00","13,183.00","7,519.00","5,948.00","4,224.00"
Total Long Term Debt,"70,614.00","49,876.00","40,509.00","39,787.00","37,926.00","15,213.00","14,175.00","12,489.00"
Total Debt,"72,301.00","51,031.00","41,816.00","49,289.00","44,147.00","20,410.00","17,274.00","16,089.00"
Other Liabilities,"69,424.00","51,530.00","34,867.00","9,431.00","6,802.00","4,696.00","2,894.00","2,165.00"
Total Liabilities,"282,304.00","227,791.00","163,188.00","119,099.00","103,601.00","64,117.00","51,363.00","43,764.00"
Common Stock,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00
Additional Paid-In Capital,"55,538.00","42,865.00","33,658.00","26,791.00","21,389.00","17,186.00","13,394.00","11,135.00"
Retained Earnings,"85,915.00","52,551.00","31,220.00","19,625.00","8,636.00","4,916.00","2,545.00","1,949.00"
Unrealized Gain (Loss),,,,,-16.00,16.00,-1.00,1.00
Other Equity,"-1,376.00",-180.00,-986.00,"-1,035.00",-468.00,"-1,001.00",-722.00,-512.00
Total Equity,"138,245.00","93,404.00","62,060.00","43,549.00","27,709.00","19,285.00","13,384.00","10,741.00"
Total Liabilities and Equity,"420,549.00","321,195.00","225,248.00","162,648.00","131,310.00","83,402.00","64,747.00","54,505.00"
Total Common Shares Outstanding,"10,180.00","10,060.00","9,960.00","9,820.00","9,680.00","9,540.00","9,420.00","9,300.00"
Full-Time Employees,"1,608,000","1,298,000","798,000","647,500","566,000","341,400","230,800","154,100"
Number of Common Shareholders,"7,282","6,330","3,169","2,315","2,357","2,448","2,578","2,744"

In [ ]:
CashFlow_df

Period End Date,TTM,12/31/2021,12/31/2020,12/31/2019,12/31/2018,12/31/2017,12/31/2016,12/31/2015
Period Length,12 Months,12 Months,12 Months,12 Months,12 Months,12 Months,12 Months,12 Months
Net Income,"11,323.00","33,364.00","21,331.00","11,588.00","10,073.00","3,033.00","2,371.00",596.00
Depreciation/Depletion,"38,578.00","34,296.00","25,251.00","21,789.00","15,341.00","11,478.00","8,116.00","6,281.00"
Amortization,,,,,,,,
Deferred Taxes,"-8,404.00",-310.00,-554.00,796.00,441.00,-29.00,-246.00,81.00
Non-Cash Items,"19,809.00","-1,412.00","6,555.00","6,779.00","5,911.00","4,125.00","3,115.00","2,524.00"
Changes in Working Capital,"-21,641.00","-19,611.00","13,481.00","-2,438.00","-1,043.00",-242.00,"3,847.00","2,557.00"
Cash from Operating Activities,"39,665.00","46,327.00","66,064.00","38,514.00","30,723.00","18,365.00","17,203.00","12,039.00"
Capital Expenditures,"-65,988.00","-61,053.00","-40,140.00","-16,861.00","-13,427.00","-11,955.00","-7,804.00","-5,387.00"
Other Investing Cash Flow Items,"26,628.00","2,899.00","-19,471.00","-7,420.00","1,058.00","-15,129.00","-1,712.00","-1,063.00"
Cash from Investing Activities,"-39,360.00","-58,154.00","-59,611.00","-24,281.00","-12,369.00","-27,084.00","-9,516.00","-6,450.00"
Financing Cash Flow Items,,,,,,,,
Total Cash Dividends Paid,,,,,,,,
Issuance (Retirement) of Stock,,,,,,,,
Issuance (Retirement) of Debt,"12,532.00","6,291.00","-1,104.00","-10,066.00","-7,686.00","9,928.00","-3,716.00","-3,882.00"
Cash from Financing Activities,"6,532.00","6,291.00","-1,104.00","-10,066.00","-7,686.00","9,928.00","-3,716.00","-3,882.00"
Foreign Exchange Effects,"-1,836.00",-364.00,618.00,70.00,-351.00,713.00,-212.00,-374.00
Net Cash - Beginning Balance,,"42,377.00","36,410.00","32,173.00","21,856.00","19,934.00","16,175.00","14,557.00"
Net Cash - Ending Balance,,"36,477.00","42,377.00","36,410.00","32,173.00","21,856.00","19,934.00","15,890.00"
Net Change in Cash,"5,001.00","-5,900.00","5,967.00","4,237.00","10,317.00","1,922.00","3,759.00","1,333.00"
Cash Interest Paid,"1,299.00","1,098.00",916.00,875.00,854.00,328.00,290.00,325.00
Cash Taxes Paid,"4,674.00","3,688.00","1,713.00",-881.00,"1,184.00",957.00,412.00,273.00